/* Toast custom theme */
.react-hot-toast {
  font-family: "Poppins", sans-serif;
}

.react-hot-toast-success {
  background: #16a34a !important;
  color: white !important;
}

.react-hot-toast-error {
  background: #dc2626 !important;
  color: white !important;
}